.cartItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px;
}

.cartItem button {
    background-color: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.cartItemImg {
    width: 20%;
}

.cartItemInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.cartItemQuantity {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.cartItemPrice {
    width: 15%;

}

.removeCartItem {
    width: 10%;
}