#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.447);
}

.siteLogo {
    width: 100px;
}

.cartLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cartLink span {
    background: rgb(242, 63, 63);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin-left: 3px;
}

.cartLink img {
    width: 70px;
}

.cart-link {
    text-decoration: none;
}

.search {
    display: flex;
}

.search input {
    font-size: 17px;
    padding: 3px;
    outline: none;
}

.search button {
    background-color: #cf961b;
    color: #fff;
    border: none;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}