.productsList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.priceBlock {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.priceProduct {
    font-weight: 600;
    font-size: 19px;
}

.product button {
    background: #654ea3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    padding: 7px;
    cursor: pointer;
}

.product button:hover {
    opacity: 0.6;
}